:root,
:host {
    /*
        liga = ligatures
        calt = contextual alternatives
        cv05 = disambiguated L
        cv08 = disambiguated i
    */
    --font-feature-settings: 'liga' 1, 'calt' 1, 'cv05' 1, 'cv08' 1;
    --font-family: Inter, sans-serif;

    @supports (font-variation-settings: normal) {
        & {
            --font-family: InterVariable, sans-serif;
        }
    }

    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings);
}

* {
    cursor: default;
}

/* this needs to be JUST ::selection, it cannot have multiple selectors because chrome throws a fit */
::selection {
    /*
        creates an invert sort of effect, but is flawed because
        it doesn't change based on the actual theme, just whatever the root one is
        works for now
    */
    color: var(--color-theme-bg);
    background-color: var(--color-theme-on-bg);
}

html,
body {
    min-height: 100dvh;
    height: 100%;
}
